<!DOCTYPE HTML>
<html>
	<head>
		<title>Test</title>
		<meta charset="utf-8" />
		<meta name="viewpoint" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/academicons.min.css" />
		<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
	</head>
	<body>
		<!-- Header -->
			<section id="header">
				<header>
				{% include _includes/header.html %}
				</header>

				<nav id="nav">
				{% include _includes/nav.html %}
				</nav>

				<footer>
				{% include _includes/social-links.html %}
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<h2>Test Page</h2>
						<p>Description</p>
					</div>

				<!-- Footer -->
					<section id="footer">
					{% include _includes/footer.html %}
					</section>

			</div>
		
		<!-- Scripts -->
			{% include _includes/script.html %}

	</body>
</html>
