<div class="container">
  <header class="major">
    <h2>{{page.title}}</h2>
    <p>{{page.text}}</p>
  </header>
  <p><a href="https://github.com/helenx/iodp-sites">[github repo]</a></p>
  <h4>The International Ocean Discovery Program (IODP)</h4>
  <p>Scientific ocean drilling is an international, collaborative endeavor that produces a wealth of information and high-impact results in diverse fields ranging from climate change to deep life to planetary dynamics to geohazards. IODP expeditions are developed from thoroughly reviewed proposals that progress from iterative scientific and safety panels to scheduling and facility boards for implementation.</p>
  <p>The <a href="https://www.iodp.org">IODP website</a> ties together the efforts of the international platform providers and funding partners to support a globally cohesive program. We maintain and update the site with proposal and expedition information, which includes tracking the proposed drilling sites from proposals and the drilled hole data from expeditions. Several times a year, I update the tables and files made available on the site with results and progress from major panel meetings and completed expeditions.</p>
  <p>I automated most of the data compilation needed to produce KML files mapping proposed drilling sites in active IODP proposals, scheduled expeditions, and recently completed expeditions. This project involved gathering information from datatables on various web pages, reformatting the data, and populating Excel spreadsheets using the Python Pandas library and XlsxWriter module.</p>
  <img src="assets/images/sites_act_prop_500px.png">
</div>
