<div class="container">
  <header class="major">
    <h2>{{page.title}}</h2>
    <p>{{page.text}}</p>
  </header>
  <h4>Effects of igneous sill intrusion on sediment properties in Guaymas Basin, Gulf of California</h4>
  <p>We used multi-channel seismic data to identify igneous sill intrusions in Guaymas Basin and estimate changes in sediment properties where sills have intruded and altered sediments.</p>
  <img src="assets/images/goc_sills.png">
  <h4>Widespread Cretaceous magmatism in the Jurassic Quiet Zone, western Pacific Ocean</h4>
  <p>We modeled the structure of Jurassic-age oceanic crust modified by Cretaceous magmatism to study how crustal evolution occurs as a result of the transport and emplacement of a large distribution of melt through the lithosphere and into the crust.</p>
  <img src="assets/images/jqz_sonobuoy.png">
  <h4>Lithospheric-scale igneous additions on the subducting plate at the Mariana Trench</h4>
  <p>As part of an experiment to investigate mantle hydration processes in the Marianas subduction system, we used seismic tomography to model the crust and upper mantle of old (~155 Ma) subducting lithosphere.</p>
  <img src="assets/images/mar_obs.png">
  <h4>Paleomagnetic study of enstatite chondrites</h4>
  <p>We studied the magnetic properties and paleomagnetism of multiple enstatite chondrite samples to examine the feasibility of dynamo generation on the enstatite chondrite parent body.</p>
  <img src="assets/images/pillistfer.jpg">
  <p>The full thesis may be downloaded <a href="https://dspace.mit.edu/handle/1721.1/103166">here</a></p>
  <p><a href="index.html">Go home</a></p>
</div>
