<div class="container">
  <header class="major">
    <h2>{{page.title}}</h2>
    <p>{{page.text}}</p>
  </header>
  <p><a href="https://dspace.mit.edu/handle/1721.1/103166">[full thesis]</a></p>
  <h4>Effects of igneous sill intrusion on sediment properties in Guaymas Basin, Gulf of California</h4>
  <p>We used multi-channel seismic data to identify igneous sill intrusions in Guaymas Basin and estimate changes in sediment properties where sills have intruded and altered sediments. We found an increase in bulk velocity of up to 15% for disrupted sediments above interpreted sills relative to unaltered sediments from the same stratal units, indicative of thermogenic alteration. Additionally, we analyzed seismic waveform spectral properties of interpreted sill reflections in order to quantify the thickness and velocity of inferred igneous sill intrusions. <a href="http://abstractsearch.agu.org/meetings/2012/FM/T51B-2580.html"> [abstract]</a></p>
  <img src="assets/images/goc_sills_500px.png">
  <br>
  <br>
  <h4>Widespread Cretaceous magmatism in the Jurassic Quiet Zone, western Pacific Ocean</h4>
  <p>We modeled the structure of Jurassic-age oceanic crust modified by Cretaceous magmatism to study how crustal evolution occurs as a result of the transport and emplacement of a large distribution of melt through the lithosphere and into the crust. Our obervations of seafloor flows, seamounts, and widespread crustal thickening suggest that secondary igneous crustal modifications occurred via multiple distinct and poorly understood mechanisms of melt transport. <a href="https://agu.confex.com/agu/fm15/webprogram/Paper67989.html"> [abstract]</a></p>
  <img src="assets/images/jqz_sb_500px.png">
  <br>
  <br>
  <h4>Lithospheric-scale igneous additions on the subducting plate at the Mariana Trench</h4>
  <p>As part of an experiment to investigate mantle hydration processes in the Marianas subduction system, we used seismic tomography to model the crust and upper mantle of old (~155 Ma) subducting lithosphere. Data from ten ocean bottom seismometers were used to determine the seismic velocity structure of the downgoing plate. Our observations of a strong seismic reflector originating in the shallow upper mantle suggest that detailed upper mantle structures occur as a result of phase transitions under varying pressure and temperature conditions.</p>
  <img src="assets/images/mar_obs_500px.png">
  <br>
  <br>
  <h4>Paleomagnetic study of enstatite chondrites</h4>
  <p>We studied the magnetic properties and paleomagnetism of multiple enstatite chondrite samples to examine the feasibility of dynamo generation on the enstatite chondrite parent body. <a href="http://adsabs.harvard.edu/abs/2013AGUFMGP41D1165F"> [abstract]</a></p>
  <img src="assets/images/pillistfer_500px.jpg">
</div>
