<div class="container">
  <header class="major">
    <h2>{{site.sec1}}</h2>
    <p>{{site.sec2}}</p>
  </header>
  <p>I'm Helen, and I'm currently working as a postdoctoral scholar at the <a href="https://scripps.ucsd.edu">Scripps Institution of Oceanography</a>, where I am the Data Manager for the <a href="https://www.iodp.org">International Ocean Discovery Program</a> Science Support Office. We manage proposals and site survey data throughout a rigorous review process in order to implement scientific ocean drilling expeditions.</p>
  <p>My background is in marine geophysics. I got my PhD from the <a href="https://mit.whoi.edu">MIT/WHOI Joint Program in Oceanography</a>, using active-source seismic data to study how the seafloor formed and evolved under various geologic conditions. I enjoy all aspects of working with data, from collecting and organizing diverse datasets to analyzing and gaining meaningful insights relevant to the world.</p>
</div>
