<div class="container">
  <header class="major">
    <h2>{{page.title}}</h2>
    <p>{{page.text}}</p>
  </header>
  <p><a href="https://github.com/helenx/simpsons">[github repo]</a></p>
  <h4>Data Collection</h4>
  <p>This project involved web scraping to get text and creating a PostgreSQL database to store data. First, I found links to each episode available on simpsonsworld.com<a href="https://www.simpsonsworld.com"></a> and parsed the HTML to extract scripts. The links to each episode, along with additional identifying information, were stored in one table. The scripts for all of the episodes were stored in another table, line by line. The common identifier for the episode and script tables is the URL from where the data were retrieved.</p>
  <h4>Data Analysis</h4>
  <p>To check that the database was well formed, I ran several test queries and made a plot showing each of the main characters' (Homer, Marge, Bart, Lisa, and Maggie) lines for every episode in season 5. The output seemed reasonable, as the character line count supported the prevalence of the Simpson family with variations by episode events as inferred from the episode titles. I also looked at the average number of lines per episode for each character for the first 15 seasons of the show. Lines attributed to the nuclear Simpson family accounted for ~40% of the show's dialogue.</p>
  <img src="assets/images/simp_sea05_500px.png">
  <br>
  <img src="assets/images/simp_15_500px.png">
</div>
